#header {
	width: 100%;
	height: 235px;
	overflow: hidden;

}

#header .logolist {
	width: 1200px;
	margin: 0 auto;
	height: 180px;
	display: flex;
	justify-content: space-around;
	position: relative;
	/* border: 1px solid; */
}

#header .logolist li {
	height: 180px;
	/* border: 1px solid; */
}

#header .logolist li:nth-of-type(1) {
	position: absolute;
	left: 0;
}

#header .logolist li:nth-of-type(3) {
	position: absolute;
	right: 0;
}

#header .navlist {
	width: 1200px;
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #05568b;
	border-bottom: 1px solid #05568b;
}

#header .navlist li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

#header .navlist li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #05568b;
	text-align: center;
	font-size: 18px;
}

#header .navlist li a:hover {
	background-color: #b52d2f;
	color: white;
}

#header .navlist .current {
	color: white;
	background-color: #b52d2f;
}

#container {
	width: 1200px;
	height: 3800px;
	/* border: 1px solid; */
	margin: 0 auto;
	overflow: hidden;
}
#container .middle{
	width: 100%;
	/* background-color: #007AFF; */
	height: 3800px;
	text-align: center;
}
#container .middle h1{
	font-size: 24px;
	color: #007AFF;
	padding: 10px;
	width: 100%;
	text-align: center;
}
#container .middle img{
	margin-top: 20px;
}
#container .middle p{
	width: 50%;
	margin: 0 auto;
	font-size: 16px;
	text-align: left;
	margin-top: 20px;
	text-indent: 2em;
	line-height: 30px;
}
#footer {
	width: 100%;
	height: 40px;
	background-color: lightgray;
}

#footer p {
	width: 100%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: #249DDD;
}